In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("label_data.csv")
df.head()

,neighbourhood_group,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,distance_to_center,days_since_last_review
0,1,1,149,1,9,0.21,6,365,4.160116,2792.0
1,2,0,225,1,45,0.38,2,355,1.659856,3006.0
2,2,1,150,3,0,0.00,1,365,5.640177,0.0
3,1,0,89,1,270,4.64,1,194,1.522190,3051.0
4,2,0,80,10,9,0.10,1,0,4.635187,2823.0

In [3]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler

scaler = StandardScaler()

# Fit and transform the data
standard_scaled_data = scaler.fit_transform(df)

# 다시 DataFrame으로 변환 (컬럼명 유지)
df_standard = pd.DataFrame(standard_scaled_data, columns=df.columns)

df_standard.head()

,neighbourhood_group,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,distance_to_center,days_since_last_review
0,-0.917828,0.909359,-0.015493,-0.293996,-0.320414,-0.551511,-0.034716,1.916250,-0.071284,0.495903
1,0.441222,-0.924247,0.300974,-0.293996,0.487665,-0.445079,-0.156104,1.840275,-0.967112,0.677048
2,0.441222,0.909359,-0.011329,-0.196484,-0.522433,-0.682986,-0.186451,1.916250,0.459014,-1.867451
3,-0.917828,-0.924247,-0.265335,-0.293996,5.538156,2.221978,-0.186451,0.617065,-1.016437,0.715139
4,0.441222,-0.924247,-0.302811,0.144807,-0.320414,-0.620379,-0.186451,-0.856865,0.098932,0.522144

In [4]:
scaler = MinMaxScaler()

# Fit and transform the data
minmax_scaled_data = scaler.fit_transform(df)

# 다시 DataFrame으로 변환 (컬럼명 유지)
df_minmax = pd.DataFrame(minmax_scaled_data, columns=df.columns)

df_minmax.head()

,neighbourhood_group,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,distance_to_center,days_since_last_review
0,0.25,0.5,0.0149,0.000000,0.014308,0.003590,0.015337,1.000000,0.215589,0.914211
1,0.50,0.0,0.0225,0.000000,0.071542,0.006496,0.003067,0.972603,0.084875,0.984283
2,0.50,0.5,0.0150,0.001601,0.000000,0.000000,0.000000,1.000000,0.292967,0.000000
3,0.25,0.0,0.0089,0.000000,0.429253,0.079316,0.000000,0.531507,0.077678,0.999018
4,0.50,0.0,0.0080,0.007206,0.014308,0.001709,0.000000,0.000000,0.240426,0.924361

In [5]:
scaler = RobustScaler()

# Fit and transform the data
robust_scaled_data = scaler.fit_transform(df)

# 다시 DataFrame으로 변환 (컬럼명 유지)
df_robust = pd.DataFrame(robust_scaled_data, columns=df.columns)

df_robust.head()

,neighbourhood_group,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,distance_to_center,days_since_last_review
0,-1.0,1.0,0.405660,-0.50,0.173913,-0.103896,5.0,1.409692,0.087532,-0.064298
1,0.0,0.0,1.122642,-0.50,1.739130,0.006494,1.0,1.365639,-0.706794,0.116751
2,0.0,1.0,0.415094,0.00,-0.217391,-0.240260,0.0,1.409692,0.557744,-2.426396
3,-1.0,0.0,-0.160377,-0.50,11.521739,2.772727,0.0,0.656388,-0.750530,0.154822
4,0.0,0.0,-0.245283,1.75,0.173913,-0.175325,0.0,-0.198238,0.238461,-0.038071